:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.plus-jakarta-sans-800 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-content: safe center;

  background-color: var(--very-light-grayish-blue);
}

main {
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  /* flex: 1; */
  gap: 0.6rem;

  margin-block: 0.7rem;
}

.chess-img:hover {
  cursor: pointer;
  border: 3px solid var(--light-grayish-blue-2);
  border-radius: 10px;
}

.notifications {
  display: flex;
  margin-inline: 0.8rem;
  padding-inline: 0.7rem;
  padding-block: 1rem 1rem;

  line-height: 1.35;
  /* border: 1px solid rebeccapurple; */
  border-radius: 15px;
  gap: 0.75rem;
}

.notifications > img {
  /* width: 5rem; */
  height: 2.5rem;
}

.notifications-linking {
  color: var(--blue);
}
.notifications-linking:hover {
  cursor: pointer;
}
.notifications-not-read {
  background-color: var(--very-light-grayish-blue);
  /* background-color: red; */
  /* border: 1px solid red; */
}
.notifications-not-read-symbol {
  display: inline-block;
  background-color: var(--red);
  /* margin-block-end: 0.1rem; */
  border-radius: 20px;
  width: 0.5rem;
  height: 0.5rem;
}
.notifications-mark-all-btn {
  font-size: 0.88rem;
  color: var(--dark-grayish-blue);
}
.notifications-mark-all-btn:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-paras {
  max-width: 28ch;
  font-size: 0.87rem;
}

.notifications-event:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-paras > p {
  color: var(--dark-grayish-blue);
}
.notifications-paras > p:nth-child(2 of p) {
  color: var(--grayish-blue);
}
.notifications-paras > p > strong {
  color: var(--very-dark-blue);
}
.notifications-paras > p > strong:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-title {
  font-size: 1.25rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.notifications-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 0.5rem;
  margin-block-end: 0.85rem;
}

.notifications-title-number {
  color: var(--white);
  background-color: var(--blue);
  padding-inline: 0.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.message-para {
  padding-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 8px;
  line-height: 1.25;
  border: 1px solid var(--light-grayish-blue-1);
}
.message-para:hover {
  background-color: var(--light-grayish-blue-1);
  cursor: pointer;
}
