:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.plus-jakarta-sans-800 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-content: safe center;

  background-color: var(--very-light-grayish-blue);
}

main {
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}

.notifications {
  display: flex;
  margin-inline: 1rem 1rem;
  padding-inline-start: 1rem;
  padding-block: 1rem;

  gap: 0.75rem;
}

.notifications > img {
  /* width: 5rem; */
  height: 2.5rem;
}
.notifications-not-read {
  background-color: var(--very-light-grayish-blue);
}
.notifications-mark-all-btn {
  font-size: 0.88rem;
  color: var(--dark-grayish-blue);
}

.notifications-paras {
  font-size: 0.9rem;
}
.notifications-title {
  font-size: 1.25rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.notifications-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1rem;
}

.notifications-title-number {
  color: var(--white);
  background-color: var(--blue);
  padding-inline: 0.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
