:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.plus-jakarta-sans-800 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100vh;
  height: 100dvh;
  /* height: 100%; */

  display: grid;
  place-content: safe center;

  background-color: var(--very-light-grayish-blue);

  /* margin-block: 2rem; */
}

main {
  height: 100vh;
  height: 100dvh;
  height: 100%;

  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-block: 1.4rem; */
  /* gap: 0.4rem; */

  /* Desktop */
  padding-inline: 1.8rem;
  padding-block: 0rem;
  justify-content: space-between;
  /* padding-block: 1.4rem; */
  /* block-size: 52.5rem; */
  max-inline-size: 45rem;
  gap: 0.5rem;
}

.chess-img {
  /* Desktop */
  margin-inline-start: auto;
}

.chess-img:hover {
  cursor: pointer;
  border: 3px solid var(--light-grayish-blue-2);
  border-radius: 10px;
}

.notifications {
  display: flex;
  align-items: flex-start;

  /* Mobile */
  /* margin-inline: 0.5rem; */
  /* padding-inline: 0.95rem 0.8rem; */
  /* padding-block: 1.1rem; */
  /* line-height: 1.38; */
  /* border-radius: 15px; */
  /* gap: 0.9rem; */
  /* Desktop */
  /* margin-inline: 0.5rem; */
  padding-inline: 1.5rem;
  padding-block: 1.3rem;
  line-height: 1.38;
  border-radius: 15px;
  gap: 1rem;
}

.notifications > img {
  /* width: 5rem; */
  height: 2.5rem;
}

.notifications-linking {
  color: var(--blue);
}
.notifications-linking:hover {
  cursor: pointer;
}
.notifications-not-read {
  background-color: var(--very-light-grayish-blue);
  /* background-color: red; */
  /* border: 1px solid red; */
}
.notifications-not-read-symbol {
  display: inline-block;
  background-color: var(--red);
  /* margin-block-end: 0.1rem; */
  border-radius: 20px;
  width: 0.5rem;
  height: 0.5rem;
}
.notifications-mark-all-btn {
  /* Mobile */
  /* font-size: 0.88rem; */
  /* Desktop */
  font-size: 0.95rem;
  color: var(--dark-grayish-blue);
}
.notifications-mark-all-btn:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-paras {
  /* Mobile */
  /* font-size: 0.865rem; */
  /* Desktop */
  font-size: 1rem;
}

.notifications-event:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-paras > p {
  color: var(--dark-grayish-blue);
}
.notifications-paras > p:nth-child(2 of p) {
  color: var(--grayish-blue);
}
.notifications-paras > p > strong {
  color: var(--very-dark-blue);
}
.notifications-paras > p > strong:hover {
  cursor: pointer;
  color: var(--blue);
}

.notifications-title {
  display: flex;
  align-items: center;
  /* Mobi1e */
  /* font-size: 1.25rem; */
  /* gap: 0.6rem; */
  /* Desktop */
  font-size: 1.5rem;
  gap: 0.6rem;
}
.notifications-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Mobile */
  /* padding-inline: 0.5rem; */
  /* margin-block-end: 0.8rem; */

  /* Desktop */
  /* padding-inline: 1.5rem; */
  margin-block-start: 1.2rem;
}

.notifications-title-number {
  color: var(--white);
  background-color: var(--blue);
  padding-inline: 0.7rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.message-para {
  margin-block-start: 0.8rem;
  padding-inline: 1rem;
  padding-block: 0.9rem;
  border-radius: 8px;
  line-height: 1.29;
  border: 1px solid var(--light-grayish-blue-1);
}
.message-para:hover {
  background-color: var(--light-grayish-blue-1);
  cursor: pointer;
}
